.close-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 111;
}
.edit {
    max-width: 40px;
    margin: 10px auto 0 auto;
}
.formbook, .main-block-info {
    &-header {
        display: flex;
        margin-bottom: 10px;
        &-img {
            border: 1px dashed #5c5748;
            margin: 0 10px 10px 0;
            img {
                padding: 10px;
                margin: 0 10px;
                position: relative;
                display: flex;
                flex-direction: column;
                width: 135px;
                height: 190px;
                text-align: center;
                justify-content: center;
            }
            &-empty {
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                width: 135px;
                height: 158px;
            }
        }
        &-title {
            width: 100%;
        }
        &-text {
            border: 1px solid #000;
            margin-bottom: 12px;
            border-radius: 8px;
            padding: 6px 16px 6px 16px;
            p {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 0px;
            }
        }
    }
    &-main {
        &-twin, &-one {
            border: 1px solid #000;
            margin-bottom: 20px;
            border-radius: 8px;
            padding: 6px 16px 6px 16px;
            p {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 0px;
            }
        }
        &-twin {
            display: flex;
            justify-content: space-between;
        }
    }
    padding: 40px;
    &-block {
        display: flex;
        width: 100%;
    }
    &-item:not(:last-child) {
        margin-right: 10px;
    }
    &-item {
        width: 100%;
        &-image {
            width: 210px;
            height: 208px;
            border: 1px dashed #5c5748;
            margin: 0 10px 10px 0;
        }
    }


    .imageDownload {
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 190px;
        text-align: center;
        justify-content: center;
      
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-height: 100%;
          max-width: 100%;
        }
      
        .noImageContainet {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 11px;
          button {
            font-size: 11px;
          }
        }
    
        .deleteButton{
            position: absolute;
            z-index: 10;
            top: -10px;
            inset-inline-end: -10px;
            opacity:50%
        }
    
        .fileInput {
            position: absolute;
            z-index: 9;
            opacity: 0;
            height: 100%;
            width: 100%;
            left: 0px;
            top: 0px;
            cursor: pointer;
        }
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            display: flex;
            button {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}