<a mat-button routerLink="/home" class="backlinks">Back to home page</a>
<div class="mat-elevation-z8">
    <mat-card [style]="{'border-radius': 0}">
        <mat-card-header>
            <h3>Створення простого додатку для управління списком книг</h3>
        </mat-card-header>
        <mat-card-content>
                <p>Опис</p>
                <p>
                    Необхідно створити веб-додаток з використанням Angular для управління списком книг.
                    Додаток повинен забезпечувати можливість перегляду списку книг, додавання нових
                    книг, редагування та видалення існуючих книг.
                </p>
                <p>Сторінка зі списком книг:</p>
                <ul>
                    <li>Відображення списку книг з інформацією про назву, автора та рік видання.</li>
                    <li>Можливість видалення книги.</li>
                    <li>Можливість додавання нової книги.</li>
                    <li>Можливість редагування інформації про книгу.</li>
                </ul>
                <p>Popup з деталями книги:</p>
                <ul>
                    <li>При кліку на книгу зі списку відкривається popup з деталями цієї книги.</li>
                    <li>На цій сторінці відображається повна інформація про книгу (назва, автор, рік видання, опис тощо).</li>
                    <li>Можливість додавання нової книги.</li>
                    <li>Можливість видалення книги.</li>
                    <li>Можливість редагування інформації про книгу.</li>
                </ul>
                <p>Бонусні завдання (необов'язково, але бажано):</p>
                <ul>
                    <li>Реалізація пошуку за назвою книги або автором.</li>
                    <li>Додавання зображень обкладинок книг.</li>
                    <li>Анімація подій: додавання, видалення, пошук тощо.</li>
                </ul>
                <p>Вимоги:</p>
                <ul>
                    <li>Додаток повинен бути написаний на standalone компонентах.</li>
                    <li>Використання Angular Material і будь-якої його теми.</li>
                    <li>Strictly Typed Forms Angular для додавання та редагування книг.</li>
                    <li>Використання сервісу для зберігання списку книг.</li>
                    <li>Має бути базове наповнення книг, не менше п’яти.</li>
                </ul>
        </mat-card-content>
    </mat-card>
</div>
